:root {
  --vp-home-hero-name-color: rgb(199, 55, 40);
  --vp-button-brand-bg: var(--vp-home-hero-name-color);
}

.VPNavBarMenuGroup {
  margin-right: 16px;
}

figure img {
  padding: 30px;
  margin-top: 30px;
  border: 2px solid #ccc;
  background-color: #eee;
}

figcaption {
  font-style: italic;
}

dt {
  font-weight: 600;
}
